<main class="container">
	<section>
		<div class="unauthorised">
			<div class="unauthorise-block content-block ">
				<h3 class="authorise-block__title">Unauthorised user</h3>
				<p class="authorise-block__text">Log in to continue</p>
			</div>
		</div>

		<div class="authorised">
			<div class="filter content-block hidden">
				<select name="priority" class="dropdown priority">
					<option disabled selected hidden>Priority</option>
					<option value="all" class="dropdown-all">Not used</option>
					<option value="low priority" class="dropdown-low">Low priority</option>
					<option value="medium priority" class="dropdown-medium">Medium priority</option>
					<option value="high priority" class="dropdown-high">High priority</option>
				</select>
				<select name="status" class="dropdown status">
					<option disabled selected hidden>Status</option>
					<option value="all" class="status-all">Not used</option>
					<option value="awaiting" class="status-awaiting">Awaiting</option>
					<option value="done" class="status-done">Done</option>
				</select>
				<input type="text" class="input input__filter" placeholder="Enter visit description or purpose">
			</div>
			<div class="authorise-block content-block hidden">
				<h3 class="authorise-block__title">The list is empty</h3>
				<p class="authorise-block__text">Press create visit button to start</p>
			</div>
		</div>
		<div class="content-block cards-section hidden">
			<template id="card-template">
				<div class="card-visit">
					<div class="card-visit__header">
						<div class="card-visit__info">
							<div class="card-visit__status awaiting">Awaiting</div>
							<p class="card-visit__id-text">Visit #<span class="card-visit__id"></span></p>
						</div>
						<div class="card-visit__buttons">
							<button class="card-visit__btn-show button-secondary button" type="button">Show more</button>
							<button class="card-visit__btn-edit" type="button"><img src="@img/icon-button-edit.svg" alt="btn-edit"></button>
							<button class="card-visit__btn-delete" type="button"><img src="@img/icon-button-delete.svg" alt="btn-delete"></button>
						</div>
					</div>
					<div class="card-visit__main">
						<p class="card-visit__doctor input"></p>
						<p class="card-visit__priority input"></p>
						<p class="card-visit__title">First Name</p>
						<p class="card-visit__title">Last Name</p>
						<p class="card-visit__first-name input"></p>
						<p class="card-visit__last-name input"></p>
					</div>
					<div class="card-visit__additional-info hidden">
					</div>
				</div>
			</template>
		</div>
	</section>
</main>