.input {
	color: $text-primary;
	line-height: 20px;
	outline: 1px solid $uotline;
	border-radius: $x4;
	border: none;
	padding: $x8 $x12;

	&__error {
		outline: 1px solid $alert-red;
	}

	&__login {
		width: 352px
	}

	&:focus {
		outline: 3px solid $active-focus;
	}

	&:disabled {
		background-color: $bg-action-disabled;
	}

	&::placeholder {
		color: $text-secondary;
	}

	&__filter {
		flex: 1;
	}

	&__visit {
		display: flex;
		gap: $x12;
		width: 270px;
	}

	&__area {
		width: 552px;
		height: 80px;
		resize: none;
		margin-bottom: $x12;
	}
}

.dropdown {
	color: $text-secondary;
	line-height: 20px;
	outline: 1px solid $uotline;
	border: none;
	border-radius: $x4;
	padding: $x8 $x12;
	width: 200px;
	cursor: pointer;

	&:focus {
		outline: 3px solid $active-focus;
	}

	&-low {
		color: $alert-green;
	}

	&-medium {
		color: $alert-yellow;
	}

	&-high {
		color: $alert-red;
	}

	&__visit {
		display: flex;
		gap: $x16;
		margin-bottom: $x16;

		& select {
			width: 268px;
		}
	}
}