.modal {
	// display: none;
	position: absolute;
	inset: 0;
	background-color: $bg-overlay;
}

.modal-body {
	position: absolute;
	top: 100px;
	left: 50%;
	border-radius: $x8;
	border: 1px solid $uotline;
	transform: translateX(-50%);
	background-color: #fff;
	padding: $x24 $x24 $x48 $x24;
}

.header-modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $x18;

	&__title {
		font-size: $x20;
		color: $text-secondary;
		line-height: $x28;
	}

	&__btn-close {
		cursor: pointer;
	}
}


.form-modal {
	display: flex;
	flex-direction: column;

	&__label {
		color: $text-secondary;
		font-weight: 500;
		margin-bottom: $x8;
	}

	& input {
		margin-bottom: $x16;
	}
}

// Edit Modal
.edit__body {
	display: flex;
    flex-wrap: wrap;
    gap: 11px;
    width: 100%;
}

.edit__body select {
	width: 49%;
}

.edit__body label {
	width: 49%;
}

.edit__label {
	color: $text-secondary;
	font-weight: 500;
}

.edit__label input {
	margin-top: 8px;
	width: 100%;
}

.edit__btn-wrapper {
	width: 100%;
	margin-top: 15px;
}
.edit__btn-submit {
	display: block;
    margin: 0 auto;
}