<div class="modal modal-login hidden">
	<div class="modal-body">
		<div class="modal-body__header header-modal">
			<h3 class="header-modal__title">Sign In</h3>
			<button id="" class="header-modal__btn-close"><img src="@img/button-close-icon.svg" alt="close"></button>
		</div>
		<form id="form-login" class="modal-body__form form-modal">
			<label for="email" class="form-modal__label">Email <br>
			<input class="input input__email" type="email" name="email" placeholder="Enter your email">
			<div class="input__email-error hidden"><img src="@img/error-input.svg" alt="error-input">Incorrect email</div>
			</label>
			<label for="password" class="form-modal__label password__label">Password <br>
			<input class="input input__password" type="password" name="password" placeholder="Enter your password">
			<span class="password__btn eye-grey"><img src="@img/pasw-eye-grey.svg" alt="pasw-eye-grey"></span>
			<span class="password__btn eye-blue"><img src="@img/pasw-eye-blue.svg" alt="pasw-eye-grey"></span>
			<div class="input__password-error hidden"><img src="@img/error-input.svg" alt="error-input">Can`t be empty! Try again</div>
			</label>
			<button id="login-form-btn" type="button" class="button button-primary button-primary__login">Login</button>
		</form>
	</div>
</div>
</div>
