
.card-visit{
    width: 100%;
    border: 1px solid $uotline;
    border-radius: $x8;
    padding: 16px;
    background-color: $bg-card;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }

    &__status {
        padding: $x4 $x8;
        border-radius: 4px;
        color: $text-button-primary;
        font-size: 14px;
        line-height: 20px;
    }

    &__id-text {
        color: $text-secondary;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    &__id {
        color: $text-secondary;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }

    &__btn-delete {
        cursor: pointer;
    }

    &__btn-edit {
        cursor: pointer;
    }

    &__title {
        color: $text-secondary;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin: 16px 0 8px 0;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        width: 100%;
    }

    &__main p {
        flex: 1 1 49%;
    }

    &__additional-info {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        width: 100%;
    }

    &__additional-info p {
        flex: 1 1 49%;
    }
}
