.header {
	width: 100%;
	background-color: $bg-secondary-default;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	// margin-bottom: $x24;
	padding: $x12 0;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
	}
}