// 
$x4: 4px;
$x8: 8px;
$x12: 12px;
$x16: 16px;
$x18: 18px;
$x20: 20px;
$x24: 24px;
$x28: 28px;
$x48: 48px;

// Colors
$bg-page: rgba(249, 249, 255, 1);
$bg-overlay: rgba(188, 188, 215, 0.75);
$bg-action-disabled: rgba(242, 242, 255, 1);
$bg-card: rgba(249, 249, 252, 1);

$uotline: rgba(231, 231, 231, 1);

$primary-default: rgba(79, 79, 255, 1);
$primary-hover: rgba(101, 101, 255, 1);

$active-focus: rgba(194, 194, 255, 1);

$alert-red: rgba(219, 59, 33, 1);
$alert-yellow: rgba(252, 148, 3, 1);
$alert-green: rgba(26, 170, 85, 1);

$secondary-default: rgba(29, 56, 83, 1);
$bg-secondary-default: rgba(253, 253, 255, 1);
$secondary-hover: rgba(51, 77, 104, 1);
$bg-secondary-hover: rgba(245, 245, 255, 0.5);

$text-primary: rgba(34, 34, 34, 1);
$text-secondary: rgba(102, 112, 133, 1);
$text-button-primary: rgba(255, 255, 255, 1);
$text-disabled: rgba(189, 196, 204, 1);